

footer {
    background-color:black;
  }
  
  footer .email-mail {
    width: 40px;
    height: 40px;
  }
  
  footer:not(first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  footer .input-group-text {
    background-color:black;
    padding: 8px 17px;
  }

  .button {
    color: white;
  }


